@charset "UTF-8";

body {

}

.banner {
    width: 1200px;
    height: 460px;
}

.banner-slide {
    width: 1200px;
    height: 460px;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url("images/1.jpg");
}